{{!-- Navbar --}}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/saved">Saved Articles<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

{{!-- Cards to show Saved Articles --}}
<div class="container-fluid" style="background-image: url(" ../images/grey_wood_background.jpg")"> <br>
  <h1 class="text-center">Your Saved Articles</h1>
  <br>
  {{#if articles.length}}
  {{#each articles}}
  <div class="card card-fluid">
    <div class="card-header bg-light">
      <a href="{{this.link}}">{{this.title}}</a>

      {{!-- Button to delete specific article by id --}}
      <button data-id="{{this._id}}" class="btn btn-danger btn-sm" id="delete-btn">Delete Article</button>
    </div>
    <div class="container">
      <div class="card-body">{{this.summary}}</div>

      {{!-- Button to trigger modal --}}
      <button type="button" data-id="{{this._id}}" class="btn btn-primary btn-sm" id="add-notes-btn" data-toggle="modal"
        data-target="#notesModal">Add Notes
      </button>

      {{!-- Modal prompt to enter Notes --}}
      <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="notesModalLabel">Notes for: {{this.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <textarea id="noteText" col=50 row=10></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-warning btn-sm" data-id="{{this._id}}" id="save-notes-btn">Save
                Notes</button>
            </div>
          </div>
        </div>
      </div>
      {{!-- <div class="form-group">
    <label for="notesArea"></label>
    <textarea class="form-control" id="textBox" rows="3"></textarea>
    <br>
    <button type="submit" data-id="{{this._id}}" class="btn btn-warning btn-sm"
        id="save-notes-btn">Save Notes</button>
    </div> --}}
    </div>
  </div>
  <br>
  {{/each}}
  {{/if}}
</div>

{{!-- Footer --}}
<footer class="container-fluid bg-dark">
  <div class="text-center text-white" id="footer">copyright &copy; 2019 by Mari</p>
</footer>
</div>